# because I dev on a mac
*.DS_Store

# binaries we don't want to upload
*.bin
*.elf

# folders for intermediates and libraries
packages/
staging/
libraries/

# hide my wifi deets
simple_server/router_deets.h
dumb_car/router_deets.h

